.contact__head {
  color: var(--head-color);
}

.contact {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
  transition: all 20ms ease-in-out;

  &__image {
    background-image: url("../images/popup-images/contact-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: auto;
    opacity: 0.9;
    transition: all 400ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__border {
    position: relative;
    display: flex;
    width: 68.5%;
    box-shadow:  10px 10px 10px var(--card-box-shadow-first),
    -10px -10px 10px var(--card-box-shadow-second);
  }
  &__block {
    position: relative;
    background-color: var(--card-color);
    //margin: 1px;
    position: relative;
    z-index: 50;
    padding: 2rem 4rem;
    object-fit: cover;
    border-radius: inherit;
    width: 60%;

  }
  &__button__block {
    color: var(--button-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
    height: 45px;
    font-family: $Inter;
    border: 1px solid var(--button-border-color);
    border-radius: 2px;
    background: transparent;
    transition: all 600ms ease-in-out;
    text-align: center;
    &:hover {
      background-color: var(--button-bg-hover-color);
      color: var(--button-hover-color);
    }
  }
  &__name__style,
  &__email__style,
  &__text__style {
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
    &__name__style,
    label {
      color: var(--text-area-text-color);
      padding: 0.2rem 0.9rem;
      position: absolute;
      top: 10px;
      left: 0;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      pointer-events: none;
      font-size: 0.8rem;
    }
  }
}
input,
textarea {
  padding: 1.2rem;
  border: none;
  font-size: 1rem;
  background-color: var(--text-area-bg-color);
  color: var(--text-area-text-color);
  border-radius: 2px;
  font-family: $Inter;
  resize: none;
  display: block;
  width: 100%;
  box-shadow:
  inset 2px 2px 4px var(--textarea-box-shadow-first),
  inset -2px -2px 4px var(--textarea-box-shadow-second);
  &:focus{
    box-shadow:
      inset 4px 4px 4px var(--textarea-box-shadow-first),
      inset -4px -4px 4px var(--textarea-box-shadow-second);
  }
}
textarea {
  min-height: 15em;
}
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -5px;
  -webkit-transition: all 0.425s ease;
  transition: all 0.425s ease;
  opacity: 0;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--text-area-focus-color);
}

//  Input Attributes  //

input[type="checkbox"]:checked + label {
  font-style: normal;
}

// Responsive Settings //

@media (max-width: 768px) {
  .contact {
    &__button__block {
      width: 100%;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    &__name__style,
    &__email__style,
    &__text__style {
      min-width: 80%;
    }
    &__image {
      background-image: none;
      display: none;
    }

    &__border {
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      width: 80%;
    }
    &__block {
      position: relative;
      margin: 1px;
      position: relative;
      z-index: 2;
      padding: 2rem;
      object-fit: cover;
      border-radius: inherit;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  textarea {
    min-height: 5em;
  }
  input,
  textarea {
    padding: 0.9rem;
    border: none;
    font-size: 1rem;
    background-color: var(--text-area-bg-color);
    color: var(--input-text-color);
    border-radius: 2px;
    font-family: $Inter;
    resize: none;
    display: block;
    width: 100%;
  }
  .contact {
    &__name__style,
    &__email__style,
    &__text__style {
      min-width: 80%;
    }
    &__image {
      background-image: none;
      display: none;
    }

    &__border {
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      width: 80%;
    }
    &__block {
      position: relative;
      background-color: var(--bg-color);
      margin: 1px;
      position: relative;
      z-index: 2;
      padding: 1.4rem;
      object-fit: cover;
      border-radius: inherit;
      width: 100%;
    }
    &__button__block {
      color: var(--button-text-color);;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      cursor: pointer;
      height: 30px;
      font-family: $Inter;
      border-radius: 8px;
      background: transparent;
      transition: all 600ms ease-in-out;
      text-align: center;
    }
  }
}
