$Inter: "Inter", sans-serif;
$polygonReveal: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

span {
  color: var(--head-color);
}
.hero__container {
  width: 100%;
  height: 70vh;
  display: grid;
  justify-content: center;
  place-items: center;
  padding: 2rem 0rem;
  font-family: $Inter;
  text-align: center;

  &__block {
    width: 53%;
  }
  &__head {
    font-weight: 600;
    font-size: 5vw;
    text-transform: none;
    color: var(--blue-color);
    transition: all 100ms ease;
    padding: 1.20rem;
    clip-path: $polygonReveal;
    text-transform: capitalize;
    line-height: 1.1;
  
    &.tr{
      content: 'deneme bir iki bir iki deneme';
    }
   
  }

  &__text {
    font-weight: 200;
    font-size: 1rem;
    color: var(--hero-bio-color);
    opacity: 0;
    transform: translateY(120px);
    margin-bottom: 4rem;
  }
}

@media (max-width: 720px) {
  .hero__container {
    padding: 6rem 0rem;

    &__text {
      font-size: 0.7rem;
    }
    &__head {
      font-size: 8vw;
    }
  }
}
@media (max-width: 320x) {
  .hero__container {
    padding: 6rem 0rem;
  }
}
