.popup {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  font-family: $Inter;

  &__languagebuttons {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: space-around;
  }
  &__button {
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
    width: 18%;
    -webkit-tap-highlight-color: transparent;
    transition: width $popUpOpen;
    height: $popUpOpen;
    box-shadow: $popUpOpen;
    border-radius: $popUpOpen;
    clip-path: $polygonReveal;
    border-radius: 5px;
    justify-content: center;
    transform: translateY(50px);
    z-index: 50;
    background-color: var(--popup-button-bg-color);
    transition: all 400ms ease-in-out;
    cursor: pointer;

    &__button:before {
      width: 400px;
      height: 550px;
      content: "";
      position: absolute;
      top: -25px;
      left: -25px;
      bottom: 0;
      right: 0;
      background: inherit;
      filter: blur($blur);
    }
    &:hover {
      background-color: var(--popup-hover-bg-color);
    }
    &__text {
      font-family: $Inter;
      font-weight: 400;
      font-size: 0.9rem;
      color: var(--popup-button-color);
      font-size: 0.9rem;
      letter-spacing: -2%;
      display: inline-block;
      transform: translateY(10px);
      transition: all 400ms ease-in-out;
    }
    &.expand {
      box-shadow: 10px 10px 10px var(--card-box-shadow-first),
        -10px -10px 10px var(--card-box-shadow-second);
      height: 18rem;
      width: 450px;
      animation: all 0.3s ease-in normal;
    }

    &:not(.expand) {
      cursor: pointer;
    }
  }
  &__module {
    opacity: 0;
    position: absolute;
  }
  &__module__content {
    transform-origin: 0 0;
    transition: transform $popUpOpen;
    background-image: url("../images/popup-images/popup-image.jpg");
    background-size: cover;
    background-position: 0% 40%;
    height: 10rem;
    min-height: 50%;
    width: 100%;
    background-repeat: no-repeat;
  }
  &__module__top {
    display: flex;
    flex-direction: row;
    height: 50px;
    transition: height $popUpOpen;
    width: fit-content;
  }
  &__module__close {
    align-items: center;
    align-self: center;
    display: flex;
    height: 50px;
    margin-left: auto;
    width: 450px;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
  &__module__close__lines {
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 20px;
    padding: 0.1rem;
    margin-right: 1.2rem;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &__module__line {
    position: absolute;
    cursor: pointer;
    background-image: url("../images/icons/close.svg");
    background-size: cover;
    height: 1rem;
    width: 1rem;
    z-index: 50;
  }

  &__languagebuttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0rem 2rem;
    margin-top: 1rem;
    &__english,
    &__türkçe {
      color: var(--popup-language-button-color);
      font: inherit;
      line-height: 1;
      cursor: pointer;
      transform: translateY(12rem);
      width: 150px;
      height: 45px;
      font-family: $Inter;
      border: 2px solid var(--popup-border-color);
      border-radius: 8px;
      background: transparent;
      cursor: pointer;
      transition: all 600ms ease-in-out;
      text-align: center;
      visibility: hidden;

      &:hover {
        background-color: var(--popup-language-button-hover-color);
        color: white;
      }
    }
  }
}
.expand .popup__module {
  opacity: 1;
  transition: opacity 200ms 100ms cubic-bezier(0, 0, 0.2, 1);
}
.expand .popup__module__content {
  transform: scale(1);
}


@media (max-width: 770px) {
  .popup {
    &__button {
      min-width: 35%;
      &__text {
        font-size: 0.8rem;
      }
      &.expand {
        max-width: 80%;
        display: flex;
      }
    }
    &__module__close {
      height: 50px;
      min-width: 100%;
      justify-content: center;
    }
    &__module__line {
      background-image: url("../images/icons/close.svg");
      background-size: cover;
      cursor: pointer;
      height: 1rem;
      width: 1rem;
    }
    &__module__close__lines {
      border-radius: 10px;
      height: 20px;
      width: 20px;
      padding: 0.1rem;
      left: 35%;
    }
    &__languagebuttons {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0rem 1rem;
    }
    &__module__content {
      transform-origin: 0 0;
      transition: transform 300ms $popUpOpen;
      background-image: url("../images/popup-images/popup-image.jpg");
      background-size: 100%;
      background-position: center;
      height: 10rem;
      width: 100%;
      background-repeat: no-repeat;
    }
  }
}
@media (max-width: 320px) {
  .popup {
    &__button {
      min-width: 50%;
      &__text {
        font-size: 0.8rem;
      }
      &.expand {
        max-width: 70%;
        height: 190px;
        display: flex;
      }
    }
    &__module__close {
      height: 50px;
      min-width: 100%;
      justify-content: center;
    }
    &__module__line {
      background-image: url("../images/icons/close.svg");
      background-size: cover;
      background-position: center;
      cursor: pointer;
      height: 1rem;
      width: 1rem;
    }
    &__module__close__lines {
      border-radius: 10px;
      height: 20px;
      width: 20px;
      padding: 0.1rem;
      left: 20%;
    }
    &__languagebuttons {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0rem 0.7rem;
      gap: 5px;
      &__english,
      &__türkçe {
        color: var(--popup-language-button-color);
        font: inherit;
        line-height: 1;
        cursor: pointer;
        transform: translateY(10rem);
        width: 150px;
        height: 40px;
        font-family: $Inter;
        border: 2px solid var(--popup-border-color);
        border-radius: 8px;
        background: transparent;
        cursor: pointer;
        transition: all 600ms ease-in-out;
        text-align: center;
      }
      &__module__content {
        transform-origin: 0 0;
        transition: transform 300ms $popUpOpen;
        background-size: 100%;
        background-position: 0% 50%;
        height: 25vh;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 480px) {
  .popup {
    &__button {
      min-width: 50%;
      &__text {
        font-size: 0.8rem;
      }
      &.expand {
        max-width: 70%;
        height: 260px;
        display: flex;
        width: 360px;
      }
    }
    &__module__close {
      height: 50px;
      min-width: 100%;
      justify-content: center;
    }
    &__module__line {
      background-image: url("../images/icons/close.svg");
      background-size: cover;
      background-position: center;
      cursor: pointer;
      height: 1rem;
      width: 1rem;
    }
    &__module__close__lines {
      border-radius: 10px;
      height: 20px;
      width: 20px;
      padding: 0.1rem;
      left: 23%;
    }
    &__languagebuttons {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0rem 0.7rem;
      gap: 5px;
    }
  }
}
