.projects {
  width: 100%;
  place-items: center;
  scroll-snap-align: center;
  user-select: none;
  margin-bottom: auto;
  padding: 0rem 15rem;
}
.live {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 40%;
  top: 30%;
  width: 45px;
  height: 45px;
  z-index: 4;
  display: none;
  color: var(--projects-card-live-color);
  margin-right: auto;
}
.projects__card {
  position: relative;
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  margin-bottom: auto;
  padding: 5rem 0rem;

  &__container {
    background-color: var(--card-border-color);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    box-shadow: 10px 10px 10px var(--card-box-shadow-first),
      -10px -10px 10px var(--card-box-shadow-second);
  }
  &__content {
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 2rem;
    object-fit: cover;
    height: 16rem;
  }
  &__texts {
    color: var(--projects-card-container-text-color);
    text-align: left;
    padding: 1.6rem 0.2rem;
    font-weight: 500;
    font-family: $Inter;
  }
  &__header {
    font-size: 14px;
  }
  &__image {
    align-items: center;
    border-radius: inherit;
    height: 12rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70%;
    opacity: 1;
    border-radius: 2px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover {
      -webkit-filter: blur(7px);
      filter: blur(7px);
      opacity: 0.5;
    }
  }
  &__info {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 12px;
  }
}

// Light effect //
.projects__card__container:hover::before {
  opacity: 1;
}

.projects__card__container::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  margin-top: auto;
}

.projects__card__container::before {
  background: radial-gradient(
    800px circle at var(--horizontical) var(--vertical),
    var(--card-first-effect-color),
    var(--card-second-effect-color),
    transparent 30%
  );
  z-index: 2;
}

.projects__card__container::after {
  background: radial-gradient(
    800px circle at var(--horizontical) var(--vertical),
    var(--card-first-effect-color),
    var(--card-second-effect-color),
    transparent 30%
  );
  z-index: 4;
}

// Images of projects components //
.project1 {
  background-image: url("../images/works-images/bot.jpg");
}
.project2 {
  background-image: url("../images/works-images/rest-countries-dark.jpg");
}
.project3 {
  background-image: url("../images/works-images/todo-app-crop-2.jpg");
}
.project4 {
  background-image: url("../images/works-images/e-commerce-product-page.jpg");
}
.project5 {
  background-image: url("../images/works-images/ip-address-tracker.jpg");
}
.project6 {
  background-image: url("../images/works-images/loop.jpg");
}

// Responsive settings //

@media (max-width: 720px) {
  .projects {
    width: 100%;
    place-items: center;
    scroll-snap-align: center;
    user-select: none;
    padding: 1rem;
    margin: auto;
  }
  .projects__card {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    margin-top: 4rem;
    margin-bottom: auto;
    padding: 0rem 4rem;

    .live {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 44%;
      top: 30%;
      width: 45px;
      height: 45px;
      z-index: 4;
      display: none;
      color: var(--projects-card-live-color);
      margin-right: auto;
    }
    &__container {
      background-color: var(--card-border-color);
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      min-height: 40%;
    }
    &__content {
      background-color: var(--card-color);
      border-radius: inherit;
      margin: 1px;
      position: relative;
      z-index: 2;
      text-align: left;
      padding: 1rem;
      object-fit: cover;
      min-width: 100%;
    }
    &__texts {
      color: var(--projects-card-live-color);
      text-align: left;
      padding: 1rem 0.2rem;
      font-size: 0.8rem;
    }
    &__image {
      align-items: center;
      border-radius: inherit;
      height: 12rem;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      padding: 0rem 9.8rem;
    }
    &__info {
      text-align: left;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 1253px) and (min-width: 720px) {
  .projects {
    width: 100%;
    place-items: center;
    scroll-snap-align: center;
    user-select: none;
    margin-bottom: auto;
    padding: 0rem 1rem;
    overflow: hidden;


    &__card {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      //margin-top: 4rem;
      overflow: hidden;
    }
  }
}

@media (max-width: 420px) {
  .projects {
    width: 100%;
    place-items: center;
    scroll-snap-align: center;
    user-select: none;
    margin: auto;
  }
  .projects__card {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    margin-top: 4rem;
    min-width: 100%;
    padding: 0.4rem;

    &__container {
      background-color: var(--card-border-color);
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      min-height: 40%;
    }
    &__content {
      background-color: var(--card-color);
      border-radius: inherit;
      margin: 1px;
      position: relative;
      z-index: 2;
      text-align: left;
      padding: 1rem;
      object-fit: cover;
    }
    &__image {
      align-items: center;
      border-radius: inherit;
      height: 12rem;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      padding: 0rem 4.8rem;
    }
  }
}
