.sidenav {
  transition: all 0.5s ease-in-out;
  position: fixed;
  background-color:  rgba(255,255,255,0.5);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  right: 3%;
  top: 10%;
  height: 3rem;
  width: 3rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  z-index: 50;
  &:hover{

    background-color: white;
  }

  &.open {
    height: 20rem;
    width: 3rem;
    transition: all 400ms ease-in-out;
    gap: 1rem;
  }
  &__icons {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 0.8rem;
    height: 0.8rem;
    transition: all 400ms ease-in-out;
    display: none;
    padding: 0.80rem 0rem;
    opacity: 0;
    &.openlist {
      display: inline-block;
      width: 100%;
      opacity: 1;
    }

    &:hover {
      background-color: var(--side-nav-hover);
    }
  }
  &__list0 {
    background-image: url("../images/navbar-icons/sun.svg");
    &.moon {
      background-image: url("../images/navbar-icons/moon.svg");
    }
  }
  &__list1 {
    background-image: url("../images/navbar-icons/translate.svg");
  }
  &__list2 {
    background-image: url("../images/navbar-icons/home.svg");
  }
  &__list3 {
    background-image: url("../images/navbar-icons/tool.svg");
  }
  &__list4 {
    background-image: url("../images/navbar-icons/eye.svg");
  }
  &__list5 {
    background-image: url("../images/navbar-icons/send.svg");
  }

  &.is-active {
    //border-color: var(--hamburger-color) solid;

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__hamburger {
    position: relative;
    //display: block;
    width: $buttonWidth;
    height: $buttonHeight;
    background: transparent;
    border-top: $lineThickness solid;
    border-bottom: $lineThickness solid;
    //color: var(--hamburger-color);
    transition: all $transitionSpeed $transitionEasing;
    //margin-bottom: 2rem;
    //margin: 2rem;
    color: black;
    z-index: 50;

    &:before,
    &:after {
      content: "";
      //display: block;
      width: 100%;
      height: $lineThickness;
      position: absolute;
      //top: 50%;
      left: 50%;
      background-color: black;

      //background-color:var(--hamburger-color);
      //background: (--hamburger-color);
      transform: translate(-50%, -50%);
      transition: transform $transitionSpeed $transitionEasing;
    }
    &.is-active {
      border-color: transparent;
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}

@media (max-width:480px){
  .sidenav {
    transition: all 0.5s ease-in-out;
    position: fixed;
    background-color:  rgba(255,255,255,0.5);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    right: 3%;
    top: 10%;
    height: 2rem;
    width: 2rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    &:hover{
  
      background-color: white;
    }
  
    &.open {
      height: 16rem;
      width: 2rem;
      transition: all 400ms ease-in-out;
      gap: 1rem;
    }
    &__icons {
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      width: 0.8rem;
      height: 0.8rem;
      transition: all 400ms ease-in-out;
      display: none;
      padding: 0.70rem 0rem;
      opacity: 0;
      &.openlist {
        display: inline-block;
        width: 100%;
        opacity: 1;
      }

    }}
}