

.sidenav {
  display: flex;
  flex-flow: row nowrap;
  resize: none;
  overflow: hidden;
  width: 17em;
  max-width: 30%;
  position: fixed;
  height: 100vh;
  margin-top: -3rem;
  font-family: $Inter;
  &__block {
    padding: 2rem;
  }
  &__header {
    color:  var(--side-nav-head-color);
  }
  &__list {
    flex: 0 auto;
    min-width: $iconWidth;
    width: $sidenavWidth;
    position: relative;
    display: flex;
    flex-flow: column;
    list-style: none;
    transition: width $duration $timing;
    transition: all 300ms ease-in;
    transform: translateX(-10rem);

    &.is-collapsed {
      width: $sidenavWidth * 0;
      transform: translateX(0rem);
      position: relative;
    }
    &.is-active {
      border-color: var(--hamburger-color) solid;
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
        
      }
    }
    &__text {
      cursor: pointer;
      transition: width $duration $timing;
      transition: all 300ms ease-in;
      width: $sidenavWidth;
      transform: translateX(1rem);
  

      &:hover {
        background-color: var(--hamburger-menu-hover-color);
        color: var(--hamburger-color);
      }
    }
  }
  &__container {
    display: flex;
    flex-flow: column nowrap;
    background: var(--side-nav-container-color);
    flex: 0 1 auto;
    width: $sidenavWidth;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    transition: width $duration $timing;
    transition: all 300ms ease-in;
    &.is-collapsed {
      width: $sidenavWidth * 0;
    }
  }
  &__hamburger {
    position: relative;
    display: block;
    width: $buttonWidth;
    height: $buttonHeight;
    background: transparent;
    border-top: $lineThickness solid ; 
    border-bottom: $lineThickness solid;
    color: var(--hamburger-color);
    transition: all $transitionSpeed $transitionEasing;
    margin-bottom: 2rem;
    margin: 2rem;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: $lineThickness;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color:var(--hamburger-color);
      background: (--hamburger-color);
      transform: translate(-50%, -50%);
      transition: transform $transitionSpeed $transitionEasing;
    }
    &.is-active {
      border-color: transparent;
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
