$bgColor: rgb(20, 20, 20);
$cardColor: rgb(23, 23, 23);
$textColor: #757575;
$Inter: "Inter", sans-serif;
$yellow: #DFFB6D;
$blue: #2196f3;


.skills {
  //border: 2px solid white;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 68.50%;
  justify-items: center;
  margin-top: auto;
  flex-wrap: wrap;

  
  &__card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    flex: 1 0 25%;
    height: 100%;

    opacity: 0;

    transition:  all  ease-in

      
  }
  &__card__content{
    background-color: $cardColor;
    border-radius: inherit;
    margin: 1px;
    position: relative;
    z-index: 2;
    text-align: left;
    padding: 0.50rem;
    object-fit: cover;
    height: 99%;

  //transition:  all 400ms ease-in-out;

  } 
  &__card__texts{
    color: rgb(240, 240, 240);
    text-align: left;
    padding: 1rem 0.20rem;

  }
  &__card__header{
    font-size: 14px;
    
  }
  &__card__image{
    align-items: center;
    border-radius: inherit;
    display: flex;
    height: 9rem;
    overflow: hidden;
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
      //border:red 1px solid;

    
  }
  &__card__info{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 12px;
     
  }
}



// images of skill components

.react{
    background-image: url('../images/tools-logo/react-original.svg'); 
}

.JavaScript{
  background-image: url('../images/tools-logo/javascript-plain.svg');
}
.tailwind{
  background-image: url('../images/tools-logo/tailwindcss-plain.svg');
}
.node{
  background-image: url('../images/tools-logo/nodejs-original.svg');

}
.npm{
  background-image: url('../images/tools-logo/npm-original-wordmark.svg');

}
.git{
  background-image: url('../images/tools-logo/git-original.svg');

}
.sass{
  background-image: url('../images/tools-logo/sass-original.svg');

}
.webpack{
  background-image: url('../images/tools-logo/webpack-original.svg');

}
.figma{
  background-image: url('../images/tools-logo/figma-original.svg');

}



// Responsive settings

@media (max-width: 720px) {
  .skills {
    flex-direction: column;
    
    

  }
    }


    .skills__card:hover::before {
      opacity: 1;
    }
    
    .skills__card::before {
      border-radius: inherit;
      content: "";
      height: 100%;
      position: absolute;
      top: 0px;
      transition: opacity 500ms;
      width: 100%;
          margin-top: auto;

    }
    
    .skills__card::before  {
      background: radial-gradient(
        800px circle at var(--horizontical) var(--vertical), 
        $blue,    
      rgba(217,0,255,0.1),
        transparent 30%
      );
      z-index: 2;

    }

    .skills__card::after{
      background: radial-gradient(
        800px circle at var(--horizontical) var(--vertical), 
        $blue,         
        rgba(217,0,255,0.1),
        transparent 30%
      );
      z-index: 3;




    } 

    @media (max-width: 320px) {
      .skills {
        flex-direction: column;
        margin-top: 10rem;
        overflow: hidden;
    
      }
        }
    