
/*
socialmedia projects__card
socialmedia__container   projects__card__container
socialmedia__card__border   projects__card__border
socialmedia__card__content   projects__card__content
socialmedia__card__github mediaicons        projects__card__image github 
*/

.socialmedia {
  width: 100%;
  place-items: center;
  scroll-snap-align: center;
  user-select: none;
  position: relative;
  gap: 1rem;
  justify-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 0rem;
  transform: translateY(20%);
  

  
  &__container {
    position: relative;
    
  }

  &__card__content {
    position: relative;
    z-index: 2;
    padding: 1rem;
    object-fit: cover;
    height: 8rem;
    width: 8em;
    border-radius: 20%;
    justify-content: center;
    display: flex;
    border: 1px solid var(--card-border-color);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow:  3px 3px 2px var(--card-box-shadow-first),
    -3px -3px 2px var(--card-box-shadow-second);
    
    &:hover {
      border:  var(--blue-color) solid;
    }
  }
  &__card__github {
    background-image: url("../images/socialmedia-icons/github.jpg");
  }
  &__card__vimeo {
    background-image: url("../images/socialmedia-icons/vimeo.png");
  }

  &__card__linkedin {
    background-image: url("../images/socialmedia-icons/linkedin.png");
    filter: var(--linkedin-filter);
  }

  &__card__photowebsite {
    background-image: url("../images/socialmedia-icons/berkaykuytuoglu.com.jpg");
  }
}

.mediaicons {
  align-items: center;
  align-self: center;
  height: 80%;
  width: 80%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  

  &:hover {
    opacity: 0.5;
  }
}

// Responsive settings //

@media (max-width: 720px) {
  .socialmedia {
    width: 100%;
    place-items: center;
    scroll-snap-align: center;
    user-select: none;
    position: relative;
    gap: 1rem;
    justify-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 0rem 4rem;
    margin-bottom: 3rem;

    &__container {
      position: relative;
      justify-content: center;
      display: flex;
      flex-direction: row;
    }

    &__card__content {
      position: relative;
      z-index: 2;
      padding: 1rem;
      object-fit: cover;
      height: 8rem;
      width: 8em;
      border-radius: 20%;
      justify-content: center;
      display: flex;
      border: 1px solid var(--card-border-color);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      flex: 1 0 50%;
  
      &:hover {
        border: var(--blue-color) solid;
      }
    }
  }
}
