@import "./hero.scss";
@import "./variables.scss";
@import "./animation.scss";
@import "./popup.scss";
@import "./projectcomponents.scss";
@import "./skillcomponents.scss";
@import "./contact.scss";
@import "./scroll.scss";
@import "./socialmedia.scss";
@import "./sidenavbar.scss";
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {

  --bg-color: #080808;
  --head-color: white;
  --blue-color: #2196f3;
  --scrollup-color: rgba(255, 255, 255, 0.6);
  --card-color: rgb(23, 23, 23);
  --card-border-color: rgba(255, 255, 255, 0.2);
  --text-color: #757575;
  --hero-bio-color: #697887;
  --popup-hover-bg-color: rgb(33, 150, 243, 0.8);
  --popup-button-color: white;
  --popup-border-color: black;
  --popup-language-button-color: black;
  --popup-language-button-hover-color: rgba(0, 0, 0, 0.91);
  --popup-button-bg-color: #2196f3;
  --scroll-up-color: rgba(255, 255, 255, 0.6);
  --scroll-up--hover-color: white;
  --hamburger-menu-hover-color: rgba(255, 255, 255, 0.4);
  --side-nav-head-color: white;
  --hamburger-color: rgba(255, 255, 255, 0.8);
  --side-nav-container-color: #141414;
  --side-nav-hover: rgba(5, 25, 25, 0.4);
  --card-first-effect-color: #2196f3;
  --card-second-effect-color: rgba(217, 0, 255, 0.1);
  --projects-card-container-text-color: rgb(240, 240, 240);
  --projects-card-live-color: white;
  --text-area-bg-color: #2d2d2d;
  --button-text-color: white;
  --button-border-color: white;
  --text-area-focus-color: rgba(33, 150, 243, 0.5);
  --text-area-text-color: white;
  --button-bg-color: white;
  --button-text-color: white;
  --button-hover-color: black;
  --button-bg-hover-color: white;

  --linkedin-filter: invert(0);
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Inter", sans-serif;
  transition: background 200ms ease-in-out;
  display: block !important;
}

.light-mode {
  --bg-color: #ecf0f3;
  --head-color: rgba(48, 48, 48, 1);
  --scrollup-color: rgba(48, 48, 48, 1);
  --scrollup-color: rgba(91, 85, 85, 0.6);
  --scroll-up--hover-color: black;
  --hamburger-color: black;
  --hero-bio-color: #485461;
  --card-color: #ecf0f3;
  --card-border-color: rgba(255, 255, 255, 0.2);
  --card-box-shadow-first: #d1d9e6;
  --card-box-shadow-second: #ffffff;
  --card-border-color: rgba(139, 130, 130, 0.2);
  --projects-card-container-text-color: black;
  --projects-card-live-color: black;
  --button-text-color: black;
  --button-border-color: black;
  --button-hover-color: white;
  --button-bg-hover-color: black;
  --text-area-focus-color: rgba(33, 150, 243, 0.5);
  --text-area-bg-color: #ecf0f3;
  --text-area-text-color: black;
  --textarea-box-shadow-first: #d1d9e6;
  --textarea-box-shadow-second: white;
  --text-area-focus-color: black;
  --linkedin-filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #505050;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section {
  width: 100%;
  display: grid;
  place-items: center;
  scroll-snap-align: center;
  user-select: none;
  margin: auto;
  padding: 3rem 0rem;


}
h1,
h4 {
  font-weight: 500;
  font-size: 3.5vw;
  text-transform: uppercase;
  color: var(--head-color);
  line-height: 100%;
  text-align: center;
  margin: 0;
  clip-path: $polygonReveal;
  transform: translateY(7rem);
  margin-bottom: 1rem;
  transition: all 400ms ease-in-out;
  padding: 1rem;

}
h2 {
  font-weight: 500;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: left;
  font-family: $Inter;
  color: var(--head-color);
  transform: translateY(7rem);
  margin-bottom: 5rem;
  clip-path: $polygonReveal;
  transition: all 0.2ms ease-in-out;
}

.languages__head {
  transform: translateY(7rem);
  margin-bottom: 5rem;
  clip-path: $polygonReveal;
  margin-top: 10rem;
}



@media (max-width: 720px) {
  h1,
  h2,
  h4 {
    font-size: 5vw;
  }
  .languages__head {
    transform: translateY(7rem);
    margin-bottom: 5rem;
    clip-path: $polygonReveal;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  h1,
  h2,
  h4 {
    font-size: 5vw;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .languages__head {
    transform: translateY(7rem);
    clip-path: $polygonReveal;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  .section__languages {
    padding: 12rem 0rem;
  }
}
