
$blur: 20px;
$polygonReveal: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
$popUpOpen: 300ms cubic-bezier(0.4, 0, 0.2, 1);


$Inter: "Inter", sans-serif;

$sidenavWidth: 9rem;
$sidenavGutter: 1.5rem;
$iconWidth: 2.5rem;
$iconSize: 1.25rem;
$timing: ease-out;
$duration: 450ms;
$buttonWidth: 1.2rem;
$buttonHeight: 1rem;
$lineThickness: 2px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;
